<%= form_for(article) do |f|  %>
	<div class="form-box">
		<%= f.text_field :title, placeholder: "Title", class: "title-box"%>	
	</div>
	<div class="form-box">
		<%= f.text_area :content, placeholder: "Type your article here", class: "content-box", data: { editor: 'markdown'}, rows: 10 %>	
	</div>
	<%= f.submit %>
<% end %>
